@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 기본 폰트는 Inter로 설정 */
  html {
    font-family: 'IBM Plex Mono';
  }

  .fade-out {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .fade-out.fade-out-active {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .fade-in.fade-in-active {
    opacity: 1;
  }

  .scrollbar-hidden {
    /* Webkit 기반 브라우저 (Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Firefox */
    scrollbar-width: none;
    /* IE 및 Edge (구형 브라우저 지원) */
    -ms-overflow-style: none;
  }
  
}

@layer utilities {
  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .duration-300 {
    transition-duration: 1000ms;
  }
  
  .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
